{% extends 'adminlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Enrollment Records</h2>
    <br>
    <form method="POST" action="/submit" class="center">
    <label for="course_select">Select Course:</label>
    <select id="course_select" name="course_select">
        <option value="all">All Courses</option>
        {% for course in courses %}
            <option value="{{ course[0] }}">{{ course[0] }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CID</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>
                    <a href="{{ url_for('update', id=record[0]) }}">Update</a>
                    <a href="{{ url_for('delete', id=record[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="center">
<div class="form-container">
    <h2>Add Enrollment</h2>
    <form method="POST" action="/addenroll">
        <label for="id">Student ID:</label>
        <input type="text" name="id" required><br>
        <label for="cid">Course ID:</label>
        <input type="text" name="cid" required><br>
        <button type="submit" value="Add">Add</button><br>
    </form>
</div>
    </div>

{% endblock %}