{% extends 'adminlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Course Records</h2>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>CID</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[7]}}</td>
                <td>
                    <a href="{{ url_for('withdraw', id=session['id'], cid=record[0])}}">Withdraw</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
<div class="form-container">
    <h2>Add Course</h2>
    <form method="POST" action="/add">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>
        <label for="age">Age:</label>
        <input type="text" name="age" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
        <button type="submit" value="Add">Add</button><br>
    </form>
</div>
{% endblock %}