{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Enrolled</h2>
    <table border="1" class="student-table">
        <thead>
            <tr>
                <th>CID</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[7]}}</td>
                <td>
                    <a href="{{ url_for('withdraw', id=session['id'], cid=record[0])}}">Withdraw</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>GPA:</h3>
    <p>{{ gpa }}</p>
{% endblock %}